@include desktop {
  .hidden-desktop {
    display: none !important;
  }
}
@include tablet {
  .hidden-tablet {
    display: none !important;
  }
}
@include phone {
  .hidden-phone {
    display:none !important;
  }
}

%nofilter {
  filter:none;
  -webkit-filter:none;
  -moz-filter:none;
}