/** Font references **/
$font-dir: "../../fonts/";
$ft-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

/** Colors **/
$c-black: #000;
$c-white: #fff;
$c-grey: #1f1f1f;
$c-pink: #ffc8a9;
/** Size **/
$desktop-size: 1440px;
$desktop-m-size: 1375px;
$desktop-s-size: 1080px;
$desktop-xs-size: 900px;
$phone-size: 720px;
$phone-s-size: 320px;
$desktop-padding: 70px;

/** Typography **/
$base-font-size: 16px;

$filter:  sepia(100%) hue-rotate(-30deg)  brightness(90%);